@using System.Security.Claims
@model IEnumerable<UserProfileModel>

@foreach (var item in Model)
{
    @if (int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) != item.Id)
    {
        <a class="userLink" asp-controller="ME" asp-action="Profile" asp-route-id="@item.Id">
            <div class="user">
                <img class="profilePic" src="@item.FilePath" alt="@item.Id profilePic">
                <p>@item.FirstName @item.SecondName</p>
                <form asp-controller="ME" asp-action="RedirectToPersonalConversation" asp-route-id1="@item.Id">
                    <button type="submit">написать</button>
                </form>

            </div>
        </a>
    }
}
